<?xml version="1.0" encoding="utf-8" ?>
<configuration>
<appSettings>
	  <add key="Raven/Port" value="9029"/>
	  <add key="Raven/DataDir/Legacy" value="~\Database\System"/>
	  <add key="Raven/DataDir" value="~\Database\System"/>
	  <add key="Raven/AnonymousAccess" value="Admin"/>
	  <add key="Raven/MaxPageSize" value="10000"/>
	  <add key="Raven/BackgroundTasksPriority" value="AboveNormal"/>
	  <add key="Raven/TempIndexPromotionMinimumQueryCount" value="10"/>
	  <add key="Raven/Esent/CacheSizeMax" value="1024"/>
	  <add key="Raven/Esent/MaxVerPages" value="1024"/>
	  <add key="Raven/Tenants/MaxIdleTimeForTenantDatabase" value = "10000"/>
	  <add key="Raven/CreateAutoIndexesForAdHocQueriesIfNeeded" value="true" /> 
	  <!-- Access-Control headers -->
	  <add key="Raven/AccessControlAllowOrigin" value="http://localhost:56408" />	
	  <add key="Raven/AccessControlRequestHeaders" value="ETag,Raven-Clr-Type,Raven-Entity-Name" />
	</appSettings>
	<runtime>
		<loadFromRemoteSources enabled="true"/>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<probing privatePath="Analyzers;Plugins"/>
		</assemblyBinding>
	</runtime>
	<system.webServer>
	   <httpProtocol>
		 <customHeaders>
		 <!--
		   <add name="Access-Control-Allow-Headers" value="My-Header" />
		   <add name="Access-Control-Expose-Headers" value="Raven-Clr-Type,Raven-Entity-Name,ETag" />
		   -->
		 </customHeaders>
	   </httpProtocol>
	 </system.webServer>	
</configuration>